---
import { Code } from 'astro/components'

import Button from '@/components/Button.astro'

const code = `
  @import 'butterup-toast/dist/butterup.css';

  .butteruptoast.[customThemeName] {
    /* */
  }
  
  /* Rich toast configuration */
  .butteruptoast.[customThemeName].success {
    /* Success type styles */
  }
  .butteruptoast.[customThemeName].error {
    /* Error type styles */
  }
  .butteruptoast.[customThemeName].warning {
    /* Warning type styles */
  }
  .butteruptoast.[customThemeName].info {
    /* Info type styles */
  }

`

const codeExample = `
  @import 'butterup-toast/dist/butterup.css';

  .butteruptoast.stroke {
    border-radius: 0px;
    border: solid 2px #282828;
  }
  
  /* Rich toast configuration */
  .butteruptoast.stroke.success {
    background-color: #ebfef2;
    color: hsl(140, 100%, 27%);
    border: solid 2px hsl(140, 100%, 27%);
  }
  .butteruptoast.stroke.error {
    background-color: #fef0f0;
    color: hsl(0, 100%, 27%);
    border: solid 2px hsl(0, 100%, 27%);
  }
  .butteruptoast.stroke.warning {
    background-color: #fffdf0;
    color: hsl(50, 100%, 27%);
    border: solid 2px hsl(50, 100%, 27%);
  }
  .butteruptoast.stroke.info {
    background-color: #f0f8ff;
    color: hsl(210, 100%, 27%);
    border: solid 2px hsl(210, 100%, 27%);
  }

`
---

<section class="max-w-3xl mx-auto my-10">
  <h3 class="text-2xl font-semibold">Custom theme</h3>
  <p class="mt-2">
    ButterupToast allows you to create your own themes for toast notifications.
    To do this, you will need to make some adjustments to your CSS to style the
    notifications to your liking.
  </p>
  <div class="flex flex-col items-center">
    <Code
      code={code}
      lang="css"
      theme="dracula"
      class="my-5 rounded-xl w-full text-sm lg:text-base"
    />
    <p>
      For example, let's create a custom theme called “stroke”. This theme will
      have the borders of the toast notifications more highlighted than the
      standard theme. To use it we just need to set <code
        class="text-slate-600 bg-slate-200">theme='stroke'</code
      > in the configuration.
    </p>
    <Code
      code={codeExample}
      lang="css"
      theme="dracula"
      class="my-5 rounded-xl w-full text-sm lg:text-base"
    />
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-2">
      <Button id="successIconStroke">Success Stroke</Button>
      <Button id="warningIconStroke">Warning Stroke</Button>
      <Button id="errorIconStroke">Error Stroke</Button>
      <Button id="infoIconStroke">Info Stroke</Button>
    </div>
  </div>
</section>

<script>
  import { butterup } from '../../../src'

  const successIconBtn = document.querySelector(
    '#successIconStroke'
  ) as HTMLButtonElement
  const warningIconBtn = document.querySelector(
    '#warningIconStroke'
  ) as HTMLButtonElement
  const errorIconBtn = document.querySelector(
    '#errorIconStroke'
  ) as HTMLButtonElement
  const infoIconBtn = document.querySelector(
    '#infoIconStroke'
  ) as HTMLButtonElement

  successIconBtn.onclick = () => {
    butterup.toast({
      title: 'Yeaaahh!!',
      message: 'This is a success toast',
      type: 'success',
      icon: true,
      theme: 'stroke'
    })
  }

  warningIconBtn.onclick = () => {
    butterup.toast({
      title: 'Warning!',
      message: 'This is a warning toast',
      type: 'warning',
      icon: true,
      theme: 'stroke'
    })
  }

  errorIconBtn.onclick = () => {
    butterup.toast({
      title: 'Oh nooo!',
      message: 'This is a error toast',
      type: 'error',
      icon: true,
      theme: 'stroke'
    })
  }

  infoIconBtn.onclick = () => {
    butterup.toast({
      title: 'Atention',
      message: 'This is a info toast',
      type: 'info',
      icon: true,
      theme: 'stroke'
    })
  }
</script>
