---
import { Code } from 'astro/components'

import Button from '@/components/Button.astro'

const code = `
  import { butterup } from 'butterup-toast'

  // It is necessary to import the styles also
  import 'butterup-toast/dist/butterup.css'

  butterup.toast(
    title: 'Hello World!',
    message: 'This is a toast notification.'
    // others options ...
  )

`
---

<section class="max-w-3xl mx-auto my-10">
  <h3 class="text-2xl font-semibold">Usage</h3>
  <p class="mt-2">
    To render a toasted notification it is necessary to import the library and
    use it.
  </p>
  <div class="flex flex-col items-center">
    <Code
      code={code}
      lang="ts"
      theme="dracula"
      class="my-5 rounded-xl w-full text-sm lg:text-base"
    />
    <Button id="tryIt" class="w-28">Try it!</Button>
  </div>
</section>

<script>
  import { butterup } from '../../../src'

  const tryItBtn = document.querySelector('#tryIt') as HTMLButtonElement

  tryItBtn.onclick = () => {
    butterup.toast({
      title: 'Hello World!',
      message: 'This is a toast notification.',
      location: 'top-right'
    })
  }
</script>
